* {

    margin: 0;
    padding: 0;
}


/* css for header */

#header {
    
    background-color: rgba(rgb(241, 226, 226), rgb(242, 250, 242), rgb(229, 229, 233), 1);
    position: sticky;
    top: 0;
    padding: 20px;
}

#header a {
    padding: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}





/* css for banner */
#banner {
    height: 700px;
    background-color: rgb(224, 213, 148);
    display: grid;
    grid-template-columns: 50% 50%;

}

#banner div:nth-child(2) {
    position: relative;
    top: 350px;
    font-family: 'Roboto', sans-serif;

}

#banner p {
    font-size: x-large;
}

#banner span {
    font-size: xx-large;
}

#banner button {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 20px;
    width: 120px;
    background-color: rgb(194, 245, 228);
    position: relative;
    left: 50px;

}

/* css for about me */
#AboutMe {
    margin-top: 60px;
    height: 700px;
    background-color: rgb(224, 213, 148);
    display: grid;
    grid-template-columns: 50% 50%;
}

#AboutMe div:nth-child(1) {
    padding: 20px;
    position: relative;
    top: 200px;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

/* css for skills */

#skills {
    margin: 2% auto;
}

.skills-left-col h5 {
    font-weight: 600;
}

.skills-right-col img {
    width: 100%;
}

.skill-card {
    border-bottom: 5px solid #ffbe40 !important;
    margin: 9px auto;
}

.skill-card-body {
    padding: 8px 14px !important;
}

.skill-name .s-name {
    font-weight: 600;
    font-size: 14px;
    padding-left: 2%;
}

.skill-name .s-percent {
    font-weight: 600;
    font-size: 14px;
    float: right;
}

.skill-name .fab {
    color: #ffbe40;
}

.skill-name .fab:hover {
    color: #0E2431;
}


.container {
    background-color: rgb(224, 213, 148);
    border-radius: 20px;
}


/* footer code */
.footer-div {
    background: #ffffff;
    text-align: center;
    height: 36vh;
}

.footer-title h2 {
    font-weight: 600;
    color: #181817;
    padding: 2%;
}

.social-sites .footer-icons a {
    text-decoration: none !important;
    background-color: transparent!important;
    color: #0e0d0d;
    padding: 10px 12px;
    margin-right: 30px;
}

.social-sites .footer-icons a:hover {
    color: #fff;
}

.footer-icons a .fab {
    font-weight: 600;
    font-size: 20px;
}

.social-sites p {
    font-size: 15px;
    padding: 35px 0px;
    color: #050505;
}